<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malicious Link Detector</title>
</head>
<body>
    <h1>Malicious Link Detector</h1>
    <form action="/predict" method="post">
        <label for="url">Enter the link you want to check:</label>
        <input type="text" id="url" name="url" required>
        <button type="submit">Check Link</button>
    </form>
</body>
</html>
